@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 11%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 11%;
    --primary: 305 59% 33%;
    --primary-foreground: 0 0% 98%;
    --secondary: 300 3% 90%;
    --secondary-foreground: 0 0% 11%;
    --muted: 300 3% 90%;
    --muted-foreground: 0 0% 45%;
    --accent: 305 59% 33%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 305 59% 33%;
    --radius: 0.25rem;
  }
}

* {
  border-color: hsl(var(--border));
}

html {
  scroll-behavior: smooth;
}

body {
  color: hsl(var(--foreground));
  background: #1c1c1c;
}
